<% layout('./layouts/index.ejs') %>
<body>
  <div id="main">
    <%- include('../components/navbar.ejs') %>
    <h2>This is Home Page Guys</h2>
    <%- include('../components/footer.ejs') %>
  </div>
</body>
